body {
    background-color: black;
}

.header, .display, .controls, #speedContainer{
    text-align: center;
}

.header h1 p{
    color: #f44336;
    display: inline;
}

.header h1{
    color: #4caf50;
    font-family: 'Orbitron', sans-serif;
}

.display {
    height: 290px;
}

.display p {
    font-family: 'Orbitron', sans-serif;
}

.mainContainer {
    margin: auto;
    width: 285px;
    padding: 5px;
}

#speedContainer p {
    font-family: 'Orbitron', sans-serif;
    font-size: 27px;
    color: white;
}

#noteContainer p{
    color: #4caf50;
    font-size: 72px;
}

#stringContainer p{
    color: #f44336;
    font-size: 54px;
}

#noteContainer, #stringContainer{
    display: inline-block;
}
